#ft{
border-bottom:1px solid #C2D5E3;
background:#EEF3F6;
text-indent:10px;
}
#ftr{
	height:150px;
	width:150px;
	
	text-align:center;
	float:left;

}
form{
	font:14px "微软雅黑";
	font-weight:bold;
	color:#444444;
}


