
.sclass{
	background:#FFFFFF;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	padding:10px;
	clear:both;
}
.sclass section{
	width:310px;
	height:auto;
	overflow:hidden;
	float:left;
}
.sclass section figure{
	float:left;
}
.sclass section figure:first-child{
	height:70px;
	width:70px;
	padding:10px;
}
.sclass section>figure>figcaption{
	color:#075992;
	font-weight:bolder;
}
.sclass section>figure>div{
	height:24px;
	line-height:24px;
}

.sclass{
	background:#FFFFFF;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	padding:10px;
	clear:both;
}
.lclass{
	border:0px solid #ededed;
}

#div0>div{
	margin-top:10px;
	height:30px;
	float:left;
	border-bottom:1px solid #ededed;
	
}
#div0{
	height:55px;
	width:960px;
	

}
#div1{
	width:60%;
	text-indent:10px;


}
.div2{
	width:13%;
	font:12px "微软雅黑";
	text-align:center;
}
.d3{

	float:left;
	width:110px;
}